name: Build and Push Llama Stack Docker Image

on:
  workflow_dispatch:
    inputs:
      distro_name:
        description: 'Distribution name (e.g., tuw-ai)'
        required: false
        default: 'tuw-ai'
        type: string
  push:
    branches:
      - main
      - develop
    paths:
      - 'utils/llama-stack-distribution/**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: tu-wien-datalab/llama-stack

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Log in to the Container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6.17.0
        with:
          platforms: linux/amd64,linux/arm64
          provenance: false
          context: utils/llama-stack-distribution
          file: utils/llama-stack-distribution/Dockerfile
          build-args: |
            DISTRO_NAME=${{ inputs.distro_name || 'tuw-ai' }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
